@import '@/global';

.Chat {
  padding: $space * 0.5;
  // padding-right: $space;
  width: 50%;
  @media (max-width: $mobile-size) {
    width: 100%;
  }

  &-head {
    display: flex;
    justify-content: space-between;
    background-color: $grey;
    padding: 1rem 0;
    padding-right: 1rem;
    border-radius: 5px;

    &-left {
      @extend .align-center;
      color: $dark;
      font-weight: 600;
      padding: 0 1rem;

      &-icon {
        font-size: 2rem;
      }

      &-name {
        font-size: 1.25rem;

        @media (min-width: $mobile-size) {
          font-size: 1rem;
        }
      }
    }

    &-right {
      @extend .align-center;
      background-color: #fafafa;
      border-radius: 10px;
      height: 3rem;
      padding: $space * 0.5 $space * 0.5;
      max-width: $mobile;
      width: 100%;
      font-weight: 600;

      &-input {
        border: none;
        outline: none;
        background-color: inherit;
        padding-left: 0.5rem;
        flex: 2;

        &::placeholder {
          text-transform: capitalize;
          color: $dark;
          font-weight: 600;
        }
      }

      &-icon {
        color: darken($color: $grey, $amount: 20);
      }
    }
  }
}
