@import '@/global';

.SideRightMain {
  padding: 0 $space * 0.5;

  .cards {
    width: 100%;
    display: grid;
    gap: 1rem;
    justify-items: center;
    text-transform: capitalize;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    color: $dark;
    font-weight: 600;
    margin-right: 1rem;
    overflow-x: hidden;

    @media (max-width: 1150px) {
      display: flex;
    }

    @media (max-width: $mobile-size) {
      display: flex;
      flex-direction: column;
    }

    &-card.e {
      background-color: #e8e9eb;
    }

    &-card {
      width: 100%;
      background-color: $right-grey;
      border-radius: 0.5rem;
      padding: 3rem 2rem;
      display: flex;
      justify-content: space-between;
      position: relative;
      overflow: hidden;

      &::before,
      &::after {
        position: absolute;
        width: 10rem;
        height: 10rem;
        content: '';
        z-index: 1;
        background-color: white;
        border-radius: 50%;
transition:300ms ease;
&:hover{
        filter: blur(80px);}
      }

      &::after {
        top: 0;
        left: -8.25rem;
        background-color: lighten($color: #404690, $amount: 20);
      }

      &::before {
        left: -7.125rem;
        top: -4.5rem;
        background-color: lighten($color: #58a0df, $amount: 20);
      }

      @media (max-width: 1150px) {
        width: 50%;
      }
      @media (max-width: $mobile-size) {
        width: 100%;
      }

      &-left {
        background-color: none;
      }
    }
  }
}
